section{
    height: 500px;
    background-color: yellow;
    border:solid 1px black;
} 

.hero{
    background-color: blue;
    height: 100vh;
}

footer{
    height: 500px;
    background-color:black;
}